@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Paytone+One&display=swap');

body{
    margin: 0;
    background-color: #360429;
}

nav{
    background-color: #360429;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
}
.formDisplay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.logoDiv img{
    width: 80%;
}

.link{
   width : 80%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.link p{
    text-decoration: none;
    font-size: 22px;
    font-family: 'Monoton', cursive;
    color: white;
    gap: 20px;
}

.link a{
    text-decoration: none;
    font-size: 22px;
    font-family: 'Monoton', cursive;
    color: white;
}
.link button{
    border: none;
    background: none;
    font-size: 22px;
    font-family: 'Monoton', cursive;
    color: white;
}
.link a:hover, .link button:hover{
    transform: scale(1.1);
    color: #B3DEC1;
}

  #searchResults{
    position: absolute;
    max-width: 300px;
    
  }

  #searchResults ul {
    list-style-type: none;
    padding: 2%;
    background-color: #00000041;
    border: 2px solid rgba(169, 99, 255);
  }
  
  #searchResults li {
    margin-bottom: 10px;
  }
  
  #searchResults a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family: 'Paytone One', sans-serif;
  }
  #searchResults span{
    font-size: 13px;
    font-family: 'Paytone One', sans-serif;
  }
  #searchResults a:hover {
    text-decoration: underline;
  }
  #search{
    width: 100%;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #B3DEC1;
    outline: none;
    background: transparent;
  }
/* -------------------------HOME-------------------------- */
.frontDisplay h1{
    color: white;
    font-family: 'Paytone One', sans-serif;
    margin-left: 5%;
}

.paginationDiv{
    display: flex;
    margin: 5%;
    justify-content: space-between;
    color: white;
}
.paginationDiv p{
    font-size: 18px;
    font-family: 'Paytone One', sans-serif;
}
.paginationDiv button{
   border: none;
   background: none;
   font-size: 22px;
   font-family: 'Monoton', cursive;
   color: white;
}

.paginationDiv button:hover{
    color: #B3DEC1;
}
.movieContainer, .tvshowContainer{
    display: flex;
    justify-content: center;
    
}
.movieGallery, .tvshowGallery{
    width: 90%;
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(9, 30vw);
	grid-template-rows: 1fr;
	grid-column-gap: 0.8rem;
	grid-row-gap: 1rem;
	overflow-x: auto;
	scroll-padding: 1rem;
    scroll-snap-stop: normal;

}


  * {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #360429;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 1px;
  }

  *::-webkit-scrollbar-track {
    background: #360429;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #360429;
    border-radius: 10px;
    
  }


.movieGallery img, .tvshowGallery img{
    width: 100%;
    
}

.active {
	scroll-snap-type: unset;
}


/* --------------------------MOVIE INFO------------------------- */
.info h1{
    margin-left: 5%;
    color: white;
    font-size: 50px;
    margin-bottom: 5%;
}
.infoDisplay{
    display: flex;
    flex-direction: column;
    color: white;
}

.infoDiv{
    display: flex;
    flex-direction: row;
    
}
.leftPart{

    display: flex;
    margin-left: 5%;
    justify-content: center;
    flex-direction: column;
}
.leftPart img{
    height: 90%;
}
.addFavoriteBtnDiv{
    display: flex;
    justify-content: end;
}

.button-36 {
  margin: 2% 5%;
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}
.castPart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
    gap: 50px;
}
.actorDiv{
    display: flex;
    flex-direction: column;
    color: white; 
    font-family: 'Paytone One', sans-serif;
}

.actorDiv p{
    display: flex;
    justify-content: center;
}
.actorDiv img{
    width: 140px;
    height: 205px;
    border-radius: 90px;
    border: white 2px solid;
}
.rightPart{
    margin-right: 5%;
    font-size: 28px;
    padding: 3%;
}
span.infoName{
    color: #B3DEC1;
}

.relatedDiv{
    margin: auto;
    display: flex;
    width: 90%;
	display: grid;
	grid-template-columns: repeat(6, auto);
    justify-self: center;
    
}
.relatedDiv img{
    width: 90%;
}

.checkboxDiv{
    color: white;
    display: grid;
    grid-template-columns: repeat(6, auto);
    font-size: 18px;
    justify-content: center;
    column-gap: 6%;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: rgba(169, 99, 255) 0px 0px 0px 3px;
    border-radius: 10px;
}
.userdiv{
    border: 1px black solid;
    box-shadow: rgba(169, 99, 255) 0px 0px 0px 3px;
    padding: 1%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    
}
/* ------------------------MOVIE DISPLAY------------------------------- */
.movieDisplay, .tvshowDisplay, .myFavMovieDisplay, .myFavTvDisplay{
    
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 3fr));
    gap: 15px;
}
.movieMain h1{
    color: white;
    font-family: 'Paytone One', sans-serif;
    margin-left: 5%;
}
.moviephpDiv img, .tvshowDiv img{
    width: 100%;
    height: 100%;
    
}
.commentDisplay{
    margin-top: 10%;
}
.commentDisplay h1{
    margin-left: 5%;
    color: white;
    font-size: 50px;
    margin-bottom: 3%;

}
.commentDiv{
    font-family: 'Paytone One', sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    margin: 2%;
    justify-content: center;
    
}
.commentLeftDiv{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid white;
    font-size: 18px;
    
}
.commentRightDiv{
    width: 70%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
}

.commentRightDiv p{
    font-size: 16px;
}
.dateDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.commentLeftDiv img{
    width: 180px;
    height: 180px;
    border-radius: 90px;
    border: #ffffff solid 3px;
    margin-top: 5%;
}

/* -----------------------MEDIA QUERY----------------------------- */
@media screen and (max-width: 700px){
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
    }
    .logoDiv{
        width: 100%;
    }
    .logoDiv img{
        width: 100%;
    }
    /* .userdiv{
        border: none;
        box-shadow: none;
    } */
    .link{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5%;
        margin-bottom: 5%;
    }
    .link a{
        text-decoration: none;
        font-size: 15px;
        font-family: 'Monoton', cursive;
        color: white;
    }
    .link p{
        font-size : 12px;
        
    }
    .link button{
        font-size: 15px;
    }
    body{
        margin: 5%;
    }
    .checkboxDiv {
        color: white;
        display: grid;
        grid-template-columns: repeat(3, auto);
        font-size: 16px;
        justify-content: center;
        column-gap: 6%;
        padding: 1%;
        margin-left: 0%;
        margin-right: 0%;
        box-shadow: rgba(169, 99, 255) 0px 0px 0px 3px;
    }
    .movieGallery, .tvshowGallery {
        width: 100%;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(0, 200px);
        grid-column-gap: 0.8rem;
        justify-content: center;
    }
    
    .movieGallery img, .tvshowGallery img{
        width: 100%;
    }

    .moviephpDiv img, .tvshowDiv img {
        height: 100%;
    }
    
    .infoDisplay{
        display: flex;
        justify-content: center;
    }
    .infoDiv{
        display: flex;
        flex-direction: column;
    }
    .infoDiv img{
        width: 100%;
    }
    .info{
        width: 100%;
    }
    .leftPart{
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    .castPart{
        display: grid;
        grid-template-columns: repeat(2, 150px);
        justify-content: center;
        gap: 10px;
    }
    .actorDiv{
        display: flex;
        flex-direction: column;
    }
    .actorDiv img{
        height: 180px;
        border-radius: 90px;
    }
    .rightPart{
        width: 90%;
        font-size: 24px;
        display: flex;
        flex-direction: column;
    }
   
    .relatedDiv{
        width: 90%;
        display: grid;
        grid-template-columns: 170px 170px;
        grid-template-rows: 250px;
        justify-content: center;
        grid-column-gap: 1rem;
        grid-row-gap: 22px;
        height: 50%;
    }
    .relatedDiv img{
        width: 100%;
        
    }
    
    .commentDiv{
        display: block;
        flex-direction: column;
        
    }
    .commentLeftDiv img{
        display: none;
    }
    .commentLeftDiv{
        font-size: 16px;
        display: flex;
        flex-direction: row;
        width: 90%;
        font-size: 14px;
        padding: 3%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .commentRightDiv{
        width: 90%;
        font-size: 12px;
        margin-left: 1%;
        margin-right: 1%;
        
    }

    .movieDisplay, .tvshowDisplay, .myFavMovieDisplay, .myFavTvDisplay{
    
        margin: 5%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
        gap: 15px;
    }
}
.moviephpDiv{
    display: flex;
    position: relative;
}
.remove-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: white;
    color: red;
    border-color: white;
  }
.favTitle{
    color: white;
    margin-left: 5%;
    font-size: 32px;
}
@media screen and (max-width: 1200px) and (min-width: 700px){

    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
    }
    .logoDiv{
        width: 100%;
    }
    .logoDiv img{
        width: 100%;
    }
    .userdiv{
        border: none;
        box-shadow: none;
    }
    .link{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5%;
        margin-bottom: 5%;
    }
    .link a{
        text-decoration: none;
        font-size: 28px;
        font-family: 'Monoton', cursive;
        color: white;
    }
    .link button{
        font-size: 28px;
    }
    body{
        margin: 5%;
    }
    .movieGallery {
        width: 100%;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(0, 300px);
        grid-template-rows: 1fr;
        grid-column-gap: 0.8rem;
        grid-row-gap: 1rem;
    }
    .movieGallery img{
        width: 100%;
    }

    .tvshowGallery {
        width: 100%;
        display: grid;
        padding: 1rem;
	    grid-template-columns: repeat(0, 300px);
	    grid-template-rows: 1fr;
	    grid-column-gap: 0.8rem;
	    grid-row-gap: 1rem;
    }
    .tvshowGallery img{
        width: 100%;
    }
    .infoDisplay{
        display: flex;
        justify-content: center;
    }
    .infoDiv{
        display: flex;
        flex-direction: column;
    }
    .infoDiv img{
        width: 100%;
    }
    .info{
        width: 100%;
    }
    .leftPart{
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    .leftPart img{
        width: 100%;
    }
    .rightPart{
        width: 90%;
        font-size: 24px;
        display: flex;
        flex-direction: column;
    }
    .castPart{
        display: grid;
        grid-template-columns: repeat(6, 110px);
        justify-content: center;
        gap: 10px;
    }
    .actorDiv{
        display: flex;
        flex-direction: column;
    }
    .actorDiv img{
        height: 140px;
        border-radius: 90px;
        width: 100px;
    }
    .relatedDiv{

        display: grid;
        justify-content: center;
        grid-template-columns: 220px 220px 220px;
        /* grid-template-rows: repeat(5, 420px); */
        grid-column-gap: 50px;
        grid-row-gap: 50px;

    }
    
    .relatedDiv img{
        width: 100%;
       
    }
    .commentDiv{
        display: flex;
        flex-direction: column;
    }
    .commentLeftDiv img{
        display: none;
    }
    .commentLeftDiv{
        width: 92%;
        padding: 3%;
        font-size: 22px;
        margin-left: 1%;
        margin-right: 1%;
    }
    .commentRightDiv{
        width: 92%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .checkboxDiv{
        font-size: 17px;
        column-gap: 2%;
    }
    .movieDisplay, .tvshowDisplay, .myFavMovieDisplay, .myFavTvDisplay{
    
        margin: 5%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
        gap: 15px;
    }
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 90px;
    border: 2px solid rgba(169, 99, 255);
    transform: translate(-50%, -50%);
    background-image: url("https://media.giphy.com/media/xUOwGcu6wd0cXBj5n2/giphy.gif");
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    z-index: 3;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    font-family: 'Monoton', cursive;
    text-align: center;

  }
  
  .login-box .user-box {
    position: relative;
    z-index: 3;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    font-family: 'Paytone One', sans-serif;
    
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    font-family: 'Paytone One', sans-serif;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #B3DEC1;
    font-size: 14px;
    
  }
  .buttonone{
    border: none;
    background: none;
    font-size: 22px;
    font-family: 'Paytone One', sans-serif;
    color: white;
  }
  .buttonone:hover{
    color: #B3DEC1;
    transform: scale(1.1);
  }


.commentBtn, .authBtn {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: 'Paytone One', sans-serif;  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
 
}

.commentBtn:hover {
  background-color: #B3DEC1;
}

.authBtn:hover{
    color: white;
    background-color: #B3DEC1;
}
.commentBtn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.commentBtn:focus-visible {
  box-shadow: none;
}
 
  
 
  
  
  
 
  
  
 
  
 