@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Paytone+One&display=swap');

body{
    margin: 0;
    background-color: #360429;
}
nav{
    background-color: #360429;
    display: flex;
    justify-content: space-between;
}
.formDisplay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.regForm, .logForm{
    display: flex;
    flex-direction: column;
    border: white 2px solid;
    padding: 5%;
    gap: 20px;
}
.logoDiv img{
    width: 80%;
}

.link{
   width : 80%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.link p{
    text-decoration: none;
    font-size: 22px;
    font-family: 'Monoton', cursive;
    color: white;
}

.link a{
    text-decoration: none;
    font-size: 22px;
    font-family: 'Monoton', cursive;
    color: white;
}
.link button{
    border: none;
    background: none;
    font-size: 22px;
    font-family: 'Monoton', cursive;
    color: white;
}

  #searchResults{
    position: absolute;
    max-width: 300px;
  }

  #searchResults ul {
    list-style-type: none;
    padding: 2%;
    background-color: #00000041;
  }
  
  #searchResults li {
    margin-bottom: 10px;
  }
  
  #searchResults a {
    text-decoration: none;
    font-size: 16px;
    color: white;
    font-family: 'Paytone One', sans-serif;
  }
  #searchResults span{
    font-size: 13px;
    font-family: 'Paytone One', sans-serif;
  }
  #searchResults a:hover {
    text-decoration: underline;
  }
/* -------------------------HOME-------------------------- */
.frontDisplay h1{
    color: white;
    font-family: 'Paytone One', sans-serif;
    margin-left: 5%;
}

.paginationDiv{
    display: flex;
    margin: 5%;
    justify-content: space-between;
    color: white;
}
.paginationDiv p{
    font-size: 18px;
    font-family: 'Paytone One', sans-serif;
}
.paginationDiv button{
   border: none;
   background: none;
   font-size: 22px;
   font-family: 'Monoton', cursive;
   color: white;
}
.movieContainer, .tvshowContainer{
    display: flex;
    justify-content: center;
    background-color: #360429;
}
.movieGallery, .tvshowGallery{
    width: 90%;
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(9, 30vw);
	grid-template-rows: 1fr;
	grid-column-gap: 0.8rem;
	grid-row-gap: 1rem;
	overflow: auto;
	scroll-padding: 1rem;
    scroll-snap-stop: normal;
}
.movieGallery img, .tvshowGallery img{
    width: 100%;
    
}

.active {
	scroll-snap-type: unset;
}


/* --------------------------MOVIE INFO------------------------- */
.info h1{
    margin-left: 5%;
    color: white;
    font-size: 50px;
    margin-bottom: 5%;
}
.infoDisplay{
    display: flex;
    flex-direction: column;
    color: white;
}

.infoDiv{
    display: flex;
    flex-direction: row;
    
}
.leftPart{

    display: flex;
    margin-left: 5%;
    justify-content: center;
    flex-direction: column;
}
.leftPart img{
    height: 90%;
}
.castPart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
    gap: 50px;
}
.actorDiv{
    display: flex;
    flex-direction: column;
    color: white; 
    font-family: 'Paytone One', sans-serif;
}

.actorDiv p{
    display: flex;
    justify-content: center;
}
.actorDiv img{
    width: 140px;
    height: 205px;
    border-radius: 90px;
    border: white 2px solid;
}
.rightPart{
    margin-right: 5%;
    font-size: 28px;
    padding: 3%;
}
span.infoName{
    color: #B3DEC1;
}

.relatedDiv{
    margin-left: auto;
    width: 95%;
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(6, auto);
    justify-self: center;
    
}
.relatedDiv img{
    width: 90%;
}

.checkboxDiv{
    color: white;
    display: grid;
    grid-template-columns: repeat(6, auto);
    font-size: 18px;
    justify-content: center;
    column-gap: 6%;
    padding: 1%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: rgba(169, 99, 255) 0px 0px 0px 3px;
}
/* ------------------------MOVIE DISPLAY------------------------------- */
.movieDisplay, .tvshowDisplay{
    
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 3fr));
    gap: 15px;
}
.movieMain h1{
    color: white;
    font-family: 'Paytone One', sans-serif;
    margin-left: 5%;
}
.moviephpDiv img, .tvshowDiv img{
    width: 100%;
    height: 100%;
}
.commentDisplay{
    margin-top: 10%;
}
.commentDisplay h1{
    margin-left: 5%;
    color: white;
    font-size: 50px;
    margin-bottom: 3%;

}
.commentDiv{
    font-family: 'Paytone One', sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    margin: 2%;
    justify-content: center;
    
}
.commentLeftDiv{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 20%;
    border: 1px solid white;
    font-size: 18px;
    
}
.commentRightDiv{
    width: 70%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    
}
.dateDiv{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.commentLeftDiv img{
    width: 180px;
    height: 180px;
    border-radius: 90px;
    border: #ffffff solid 3px;
    margin-top: 5%;
}

/* -----------------------MEDIA QUERY----------------------------- */
@media screen and (max-width: 700px){
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
    }
    .logoDiv{
        width: 100%;
    }
    .logoDiv img{
        width: 100%;
    }
    .link{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5%;
    }
    .link a{
        text-decoration: none;
        font-size: 16px;
        font-family: 'Monoton', cursive;
        color: white;
    }
    body{
        margin: 5%;
    }
    .checkboxDiv {
        color: white;
        display: grid;
        grid-template-columns: repeat(3, auto);
        font-size: 16px;
        justify-content: center;
        column-gap: 6%;
        padding: 1%;
        margin-left: 0%;
        margin-right: 0%;
        box-shadow: rgba(169, 99, 255) 0px 0px 0px 3px;
    }
    .movieGallery, .tvshowGallery {
        width: 100%;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(0, 200px);
        grid-column-gap: 0.8rem;
        justify-content: center;
    }
    
    .movieGallery img, .tvshowGallery img{
        width: 100%;
    }

    .moviephpDiv img, .tvshowDiv img {
        height: 100%;
    }
    
    .infoDisplay{
        display: flex;
        justify-content: center;
    }
    .infoDiv{
        display: flex;
        flex-direction: column;
    }
    .infoDiv img{
        width: 100%;
    }
    .info{
        width: 100%;
    }
    .leftPart{
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    .castPart{
        display: grid;
        grid-template-columns: repeat(3, 110px);
        justify-content: center;
        gap: 10px;
    }
    .actorDiv{
        display: flex;
        flex-direction: column;
    }
    .actorDiv img{
        height: 160px;
        border-radius: 90px;
    }
    .rightPart{
        width: 90%;
        font-size: 24px;
        display: flex;
        flex-direction: column;
    }
   
    .relatedDiv{
        width: 90%;
        display: grid;
        grid-template-columns: 170px 170px;
        grid-template-rows: 250px;
        justify-content: center;
        grid-column-gap: 1rem;
        grid-row-gap: 22px;
        height: 50%;
    }
    .relatedDiv img{
        width: 100%;
        
    }
    
    .commentDiv{
        display: block;
        flex-direction: column;
        
    }
    .commentLeftDiv img{
        display: none;
    }
    .commentLeftDiv{
        font-size: 16px;
        display: flex;
        flex-direction: row;
        width: 90%;
        padding: 3%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .commentRightDiv{
        width: 90%;
        font-size: 12px;
        margin-left: 1%;
        margin-right: 1%;
        
    }

    .movieDisplay, .tvshowDisplay{
    
        margin: 5%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
        gap: 15px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 700px){

    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
    }
    .logoDiv{
        width: 100%;
    }
    .logoDiv img{
        width: 100%;
    }
    .link{
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 5%;
    }
    .link a{
        text-decoration: none;
        font-size: 30px;
        font-family: 'Monoton', cursive;
        color: white;
    }
    body{
        margin: 5%;
    }
    .movieGallery {
        width: 100%;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(0, 300px);
        grid-template-rows: 1fr;
        grid-column-gap: 0.8rem;
        grid-row-gap: 1rem;
    }
    .movieGallery img{
        width: 100%;
    }

    .tvshowGallery {
        width: 100%;
        display: grid;
        padding: 1rem;
	    grid-template-columns: repeat(0, 300px);
	    grid-template-rows: 1fr;
	    grid-column-gap: 0.8rem;
	    grid-row-gap: 1rem;
    }
    .tvshowGallery img{
        width: 100%;
    }
    .infoDisplay{
        display: flex;
        justify-content: center;
    }
    .infoDiv{
        display: flex;
        flex-direction: column;
    }
    .infoDiv img{
        width: 100%;
    }
    .info{
        width: 100%;
    }
    .leftPart{
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
    .leftPart img{
        width: 100%;
    }
    .rightPart{
        width: 90%;
        font-size: 24px;
        display: flex;
        flex-direction: column;
    }
    .castPart{
        display: grid;
        grid-template-columns: repeat(6, 110px);
        justify-content: center;
        gap: 10px;
    }
    .actorDiv{
        display: flex;
        flex-direction: column;
    }
    .actorDiv img{
        height: 160px;
        border-radius: 90px;
    }
    .relatedDiv{

        display: grid;
        justify-content: center;
        grid-template-columns: 220px 220px 220px;
        /* grid-template-rows: repeat(5, 420px); */
        grid-column-gap: 50px;
        grid-row-gap: 50px;

    }
    
    .relatedDiv img{
        width: 100%;
       
    }
    .commentDiv{
        display: flex;
        flex-direction: column;
    }
    .commentLeftDiv img{
        display: none;
    }
    .commentLeftDiv{
        width: 92%;
        padding: 3%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .commentRightDiv{
        width: 92%;
        margin-left: 1%;
        margin-right: 1%;
    }
    .checkboxDiv{
        font-size: 17px;
        column-gap: 2%;
    }
    .movieDisplay, .tvshowDisplay{
    
        margin: 5%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 3fr));
        gap: 15px;
    }
}